/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(../fonts/Merriweather/Merriweather-Regular.ttf) format('truetype');
}
*/

/*
@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/Lato/Lato-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: bold;
  font-weight: 400;
  src: local('Merriweather-Bold'), url(../fonts/Merriweather/Merriweather-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf) format('truetype');
}*/
